.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.cat-item {
  border: 2px solid rgba(0, 0, 0, 0.567);
  background-color: white;
  border-radius: 12px;

  width: 281px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.cat-item img {
  width: 281px;
  height: 188px;
  border-radius: 12px;
}

.cat-item__title {
  font-weight: 600;
}

.cat-item__controls {
  display: flex;
  justify-content: space-between;
}

.search-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  padding: 0 32px;
  gap: 4px
}

.search-input {
  height: 40px;
  flex-grow: 1;
}

.search-button {
  height: 40px;
  width: 100%;
}

.button-share {
  background-color: rgba(87, 157, 194, 0.808);
}

.like-button {
  background-color: rgba(93, 212, 125, 0.732);
}

.delete-button {
  background-color: rgba(255, 192, 203, 0.82);
}